.container-wrapper {
  border-top: 1px solid #cdcdcd;
  margin-bottom: 45px;
}

.blog-header {
  text-align: center;
  padding-top: 155px;
  background: #ececec;
  background-image: radial-gradient(#d3d3d3 15%, transparent 16%), radial-gradient(#d3d3d3 15%, transparent 16%);
  background-size: 6px 6px;
  background-position: 0 0, 3px 3px;
  transition: all .5s linear;
}

.blog-header h1 {
  font-size: 48px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.blog-title {
    display: inline-block;
    margin: 75px 0;
    overflow: hidden;
}

.featured-image {
  margin-bottom: 45px;
}

.post {
  margin-top: 60px;
}

.content {
  margin-bottom: 45px;
}

@media (max-width: 768px) {
  .blog-header {
    padding-top: 80px;
  }
  .blog-header h1{
    font-size: 32px;
  }
}

@media (max-width: 400px) {
  .blog-header h1{
    font-size: 28px;
  }
}