<app-header></app-header>
<div *ngIf="post" class="blog-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div [@animateTitle]="'in'" class="blog-title">
          <h1 >{{ post.title.rendered }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div [@flyInOutBottom]="'in'" class="container-wrapper">
  <div  class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="post">
        <div>
          <img *ngIf="featuredImage" class="featured-image img-responsvie" [src]="featuredImage">
          <div class="content" highlight-js-content></div>
          <disqus-thread *ngIf="pageIdentifier" [page-identifier]="pageIdentifier" [page-url]="pageUrl"></disqus-thread>
        </div>
        <div *ngIf="!post">
          <!--no post found-->
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

