<app-header></app-header>
<div class="blog-container">
  <div class="blog-header">
    <div [@flyInOut]="'in'" class="blog-title">
      <h1 [@animateTitle]="'in'">PMOULD <span [style.fontWeight]="'normal'">Developer </span></h1>
      <h1 class="blog">Blog</h1>
    </div>
  </div>
  <div [@flyInOutBottom]="'in'" class="container-wrapper">
    <div  class="container">
      <div class="row">
        <div class="div col-xs-12 col-sm-10 col-sm-offset-1">
        <ul class="posts-list">
          <li *ngFor="let post of posts" (click)="selectPost(post.slug)">
            <span class="date">{{ dateFormat(post.date) | uppercase }}</span>
            <span class="title">{{ post.title.rendered }}</span>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
