
.container-wrapper {
  border-top: 1px solid #cdcdcd;
}

.container {
  min-height: 500px
}

.blog-header h1 {
  position: relative;
  color: #919190;
  height: 82px;
  overflow: hidden;
  margin: 0;
}
.blog-header h1::after {
  width: 100%;
  background: #919190;
  height: 1px;
  content: ' ';
  display: block;
  z-index: 1;
  bottom: -3px;
  position: absolute;
  z-index: -1;
}

.blog-header {
  text-align: center;
  padding-top: 155px;
  background: #ececec;
  background-image: radial-gradient(#d3d3d3 15%, transparent 16%), radial-gradient(#d3d3d3 15%, transparent 16%);
  background-size: 6px 6px;
  background-position: 0 0, 3px 3px;
  transition: all .5s linear;
}

.blog-animate-wrap {
  display: inline-block;
}

.blog-title {
  display: inline-block;
  padding: 20px 25px 25px 25px;
  border: 5px solid #00a0d4;
  margin: 75px 0;
  width: 515px;
  height: 150px;
  overflow: hidden;
  background: white;
  border-style: double;
}

ul.posts-list{
  list-style: none;
  margin-top: 60px;
  padding: 0;
}
.posts-list li {
  margin-top: 25px;
}
.posts-list .date {
  display: block;
  font-size: 24px;
  line-height: 1;
  color: #919190; 
}
.posts-list .title {
  font-size: 38px;
  color: #5a5a5a;
  cursor: pointer;
  line-height: 1
}

.posts-list .title:hover {
 color: black;
}


@media (max-width: 768px) {
  .blog-header {
    padding-top: 80px;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .blog-header h1 {
    font-size: 32px;
  }
  .blog-header h1::after {
    bottom: 3px;
  }
  .blog-title {
    width: 400px;
    height: 145px;
  }
  .posts-list .date {
    font-size: 22px;
  }
  .posts-list .title {
    font-size: 32px;
  }
}

@media (max-width: 400px) {
  .blog-header h1 {
    font-size: 28px;
  }
  .blog-header h1::after {
    bottom: 11px;
  }
  .blog-title {
      width: 320px;
      height: 130px;
  }
  .posts-list .date {
    font-size: 18px;
  }
  .posts-list .title {
    font-size: 22px;
  }
}

