.intro {
  height: 850px;
  position: relative;
}

.intro h1 {
  margin-top: 0;
  font-size: 50px;
  padding: 0 5px 5px 5px;
  font-family: 'Roboto', sans-serif;

}
.intro h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 5px 5px 5px;
  font-size: 36px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.header-image {
    background-image: url(/assets/img/header-image.jpg);
    background-size: 50px;
    /*background-color: rgba(55, 169, 250, 0.1);*/
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.header-image.on {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.position {
    position: relative;
    top: 43%;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 515px;
    height: 213px;
    overflow: hidden;
    color: white;
    background: rgba(0, 0, 0, 0.42);
    border-radius: 3px;
}

.position img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 113px;
  transition: all .5s;
  padding-top: 5px;
}

.position.on img {
  width: 113px;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

@media (max-width: 767px) {
  .intro h1 {
    font-size: 40px;
  }
  .intro h2 {
    font-size: 32px;
  }

  .position {
    width: 400px;
  }  
}

@media (max-width: 400px) {
  .intro h1 {
    font-size: 32px;
  }
  .intro h2 {
    font-size: 24px;
  }

  .position {
    width: 320px;
  }
}

