<header  class="clearfix">
  <nav [@flyInOut]="'in'" class=" site-nav navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header"> <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6"
          aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a [routerLink]="['/home']" class="navbar-brand">
              <img [src]="siteLogo" class="img-responsive" alt="">
            </a>
        </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
        <ul class="nav navbar-nav">
        <li><a [routerLink]="['/about-me']">About</a></li>
        <li><a (click)="scrollDown()" [routerLink]="['/home']" fragment="project-list">Portfolio</a></li>
        <li><a [routerLink]="['/blog']">Articles</a></li>
        <li><a class="hire-me" [routerLink]="['/contact']">Hire Paul</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>